{% extends 'starter-page.html' %}
{% load static %}
{% block body %}<br><br><br><br><br>
<section id="chefs" class="chefs section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Chefs</h2>
    <div><span>Our Kitchen </span> <span class="description-title">Maestros</span></div>
  </div><!-- End Section Title -->

  <div class="container">

    <div class="row gy-5">

      <!-- Chef 1 -->
      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="member">
          <div class="pic">
            <img src="{% static 'assets/img/chefs/barnabas kibengo.jpg' %}" class="img-fluid" alt="" style="height: 300px; width: 100%; object-fit: cover; border-radius: 10px;">
          </div>
          <div class="member-info">
            <h4>Barnabas Kibengo</h4>
            <span>Master Chef</span>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div><!-- End Chef 1 -->

      <!-- Chef 2 -->
      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
        <div class="member">
          <div class="pic">
            <img src="{% static 'assets/img/chefs/Lucy adhiambo.jpg' %}" class="img-fluid" alt="" style="height: 300px; width: 100%; object-fit: cover; border-radius: 10px;">
          </div>
          <div class="member-info">
            <h4>Lucy Adhiambo</h4>
            <span>Patissier</span>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div><!-- End Chef 2 -->

      <!-- Chef 3 -->
      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
        <div class="member">
          <div class="pic">
            <img src="{% static 'assets/img/chefs/benson kimeli.jpg' %}" class="img-fluid" alt="" style="height: 300px; width: 100%; object-fit: cover; border-radius: 10px;">
          </div>
          <div class="member-info">
            <h4>Benson Kimeli</h4>
            <span>Cook</span>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div><!-- End Chef 3 -->

      <!-- Chef 4 -->
      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
        <div class="member">
          <div class="pic">
            <img src="{% static 'assets/img/chefs/susan kamau.jpg' %}" class="img-fluid" alt="" style="height: 300px; width: 100%; object-fit: cover; border-radius: 10px;">
          </div>
          <div class="member-info">
            <h4>Susan Kamau</h4>
            <span>Sous Chef</span>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div><!-- End Chef 4 -->

      <!-- Chef 5 -->
      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
        <div class="member">
          <div class="pic">
            <img src="{% static 'assets/img/chefs/danson  wekesa.jpg' %}" class="img-fluid" alt="" style="height: 300px; width: 100%; object-fit: cover; border-radius: 10px;">
          </div>
          <div class="member-info">
            <h4>Danson Wekesa</h4>
            <span>Grill Chef</span>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div><!-- End Chef 5 -->

      <!-- Chef 6 -->
      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
        <div class="member">
          <div class="pic">
            <img src="{% static 'assets/img/chefs/James kioko.jpg' %}" class="img-fluid" alt="" style="height: 300px; width: 100%; object-fit: cover; border-radius: 10px;">
          </div>
          <div class="member-info">
            <h4>James Kioko</h4>
            <span>Pastry Chef</span>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div><!-- End Chef 6 -->

      <!-- Chef 7 -->
      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="700">
        <div class="member">
          <div class="pic">
            <img src="{% static 'assets/img/chefs/christopher     mueni.jpg' %}" class="img-fluid" alt="" style="height: 300px; width: 100%; object-fit: cover; border-radius: 10px;">
          </div>
          <div class="member-info">
            <h4>Christopher Mueni</h4>
            <span>Saucier</span>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div><!-- End Chef 7 -->

      <!-- Chef 8 -->
      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="800">
        <div class="member">
          <div class="pic">
            <img src="{% static 'assets/img/chefs/samson mandela.jpg' %}" class="img-fluid" alt="" style="height: 300px; width: 100%; object-fit: cover; border-radius: 10px;">
          </div>
          <div class="member-info">
            <h4>Samson Mandela</h4>
            <span>Vegetable Chef</span>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div><!-- End Chef 8 -->

      <!-- Chef 9 -->
      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="900">
        <div class="member">
          <div class="pic">
            <img src="{% static 'assets/img/chefs/samuel  ndombi.jpg' %}" class="img-fluid" alt="" style="height: 300px; width: 100%; object-fit: cover; border-radius: 10px;">
          </div>
          <div class="member-info">
            <h4>Samuel Ndombi</h4>
            <span>Fish Chef</span>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div><!-- End Chef 9 -->

    </div>

  </div>

</section>



{% endblock %}