{% extends 'starter-page.html' %}
{% load static %}
{% block body %}<br><br><br><br><br>


    <!-- Gallery Section -->
<section id="gallery" class="gallery section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Gallery</h2>
    <div><span>Snapshots of</span> <span class="description-title">Our Restaurant</span></div>
  </div><!-- End Section Title -->

  <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">

    <div class="row g-0">

      <!-- Gallery Item 1 -->
      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a href="{% static 'assets/img/gallery/gallery 1.jpg' %}" class="glightbox" data-gallery="images-gallery">
            <img src="{% static 'assets/img/gallery/gallery 1.jpg' %}" alt="Gallery Image 1" class="img-fluid" style="border-radius: 10px;">
          </a>
        </div>
      </div><!-- End Gallery Item 1 -->

      <!-- Gallery Item 2 -->
      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a href="{% static 'assets/img/gallery/gallery 2.jpg' %}" class="glightbox" data-gallery="images-gallery">
            <img src="{% static 'assets/img/gallery/gallery 2.jpg' %}" alt="Gallery Image 2" class="img-fluid" style="border-radius: 10px;">
          </a>
        </div>
      </div><!-- End Gallery Item 2 -->

      <!-- Gallery Item 3 -->
      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a href="{% static 'assets/img/gallery/gallery 3.jpg' %}" class="glightbox" data-gallery="images-gallery">
            <img src="{% static 'assets/img/gallery/gallery 3.jpg' %}" alt="Gallery Image 3" class="img-fluid" style="border-radius: 10px;">
          </a>
        </div>
      </div><!-- End Gallery Item 3 -->

      <!-- Gallery Item 4 -->
      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a href="{% static 'assets/img/gallery/gallery 4.jpg' %}" class="glightbox" data-gallery="images-gallery">
            <img src="{% static 'assets/img/gallery/gallery 4.jpg' %}" alt="Gallery Image 4" class="img-fluid" style="border-radius: 10px;">
          </a>
        </div>
      </div><!-- End Gallery Item 4 -->

      <!-- Gallery Item 5 -->
      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a href="{% static 'assets/img/gallery/gallery 5.jpg' %}" class="glightbox" data-gallery="images-gallery">
            <img src="{% static 'assets/img/gallery/gallery 5.jpg' %}" alt="Gallery Image 5" class="img-fluid" style="border-radius: 10px;">
          </a>
        </div>
      </div><!-- End Gallery Item 5 -->

      <!-- Gallery Item 6 -->
      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a href="{% static 'assets/img/gallery/gallery 6.jpg' %}" class="glightbox" data-gallery="images-gallery">
            <img src="{% static 'assets/img/gallery/gallery 6.jpg' %}" alt="Gallery Image 6" class="img-fluid" style="border-radius: 10px;">
          </a>
        </div>
      </div><!-- End Gallery Item 6 -->

      <!-- Gallery Item 7 -->
      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a href="{% static 'assets/img/gallery/gallery 7.jpg' %}" class="glightbox" data-gallery="images-gallery">
            <img src="{% static 'assets/img/gallery/gallery 7.jpg' %}" alt="Gallery Image 7" class="img-fluid" style="border-radius: 10px;">
          </a>
        </div>
      </div><!-- End Gallery Item 7 -->

      <!-- Gallery Item 8 -->
      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a href="{% static 'assets/img/gallery/gallery 8.jpg' %}" class="glightbox" data-gallery="images-gallery">
            <img src="{% static 'assets/img/gallery/gallery 8.jpg' %}" alt="Gallery Image 8" class="img-fluid" style="border-radius: 10px;">
          </a>
        </div>
      </div><!-- End Gallery Item 8 -->

      <!-- Gallery Item 9 -->
      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a href="{% static 'assets/img/gallery/gallery 9.jpg' %}" class="glightbox" data-gallery="images-gallery">
            <img src="{% static 'assets/img/gallery/gallery 9.jpg' %}" alt="Gallery Image 9" class="img-fluid" style="border-radius: 10px;">
          </a>
        </div>
      </div><!-- End Gallery Item 9 -->

      <!-- Gallery Item 10 -->
      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a href="{% static 'assets/img/gallery/gallery 10.jpg' %}" class="glightbox" data-gallery="images-gallery">
            <img src="{% static 'assets/img/gallery/gallery 10.jpg' %}" alt="Gallery Image 10" class="img-fluid" style="border-radius: 10px;">
          </a>
        </div>
      </div><!-- End Gallery Item 10 -->

      <!-- Gallery Item 11 -->
      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a href="{% static 'assets/img/gallery/gallery 11.jpg' %}" class="glightbox" data-gallery="images-gallery">
            <img src="{% static 'assets/img/gallery/gallery 11.jpg' %}" alt="Gallery Image 11" class="img-fluid" style="border-radius: 10px;">
          </a>
        </div>
      </div><!-- End Gallery Item 11 -->

      <!-- Gallery Item 12 -->
      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a href="{% static 'assets/img/gallery/gallery 12.jpg' %}" class="glightbox" data-gallery="images-gallery">
            <img src="{% static 'assets/img/gallery/gallery 12.jpg' %}" alt="Gallery Image 12" class="img-fluid" style="border-radius: 10px;">
          </a>
        </div>
      </div><!-- End Gallery Item 12 -->

      <!-- Gallery Item 13 -->
      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a href="{% static 'assets/img/gallery/gallery 13.jpg' %}" class="glightbox" data-gallery="images-gallery">
            <img src="{% static 'assets/img/gallery/gallery 13.jpg' %}" alt="Gallery Image 13" class="img-fluid" style="border-radius: 10px;">
          </a>
        </div>
      </div><!-- End Gallery Item 13 -->

      <!-- Gallery Item 14 -->
      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a href="{% static 'assets/img/gallery/gallery 14.jpg' %}" class="glightbox" data-gallery="images-gallery">
            <img src="{% static 'assets/img/gallery/gallery 14.jpg' %}" alt="Gallery Image 14" class="img-fluid" style="border-radius: 10px;">
          </a>
        </div>
      </div><!-- End Gallery Item 14 -->

      <!-- Gallery Item 15 -->
      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a href="{% static 'assets/img/gallery/repaced.jpg ' %}" class="glightbox" data-gallery="images-gallery">
            <img src="{% static 'assets/img/gallery/repaced.jpg' %}" alt="Gallery Image 15" class="img-fluid" style="border-radius: 10px;">
          </a>
        </div>
      </div><!-- End Gallery Item 15 -->

      <!-- Gallery Item 16 -->
      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a href="{% static 'assets/img/gallery/gallery 16.jpg' %}" class="glightbox" data-gallery="images-gallery">
            <img src="{% static 'assets/img/gallery/gallery 16.jpg' %}" alt="Gallery Image 16" class="img-fluid" style="border-radius: 10px;">
          </a>
        </div>
      </div><!-- End Gallery Item 16 -->

      <!-- Gallery Item 17 -->
      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a href="{% static 'assets/img/gallery/galley 17.jpg' %}" class="glightbox" data-gallery="images-gallery">
            <img src="{% static 'assets/img/gallery/galley 17.jpg' %}" alt="Gallery Image 17" class="img-fluid" style="border-radius: 10px;">
          </a>
        </div>
      </div><!-- End Gallery Item 17 -->

      <!-- Gallery Item 18 -->
      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a href="{% static 'assets/img/gallery/gallery 18.jpg' %}" class="glightbox" data-gallery="images-gallery">
            <img src="{% static 'assets/img/gallery/gallery 18.jpg' %}" alt="Gallery Image 18" class="img-fluid" style="border-radius: 10px;">
          </a>
        </div>
      </div><!-- End Gallery Item 18 -->

      <!-- Gallery Item 19 -->
      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a href="{% static 'assets/img/gallery/gallery 19.jpg' %}" class="glightbox" data-gallery="images-gallery">
            <img src="{% static 'assets/img/gallery/gallery 19.jpg' %}" alt="Gallery Image 19" class="img-fluid" style="border-radius: 10px;">
          </a>
        </div>
      </div><!-- End Gallery Item 19 -->

      <!-- Gallery Item 20 -->
      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a href="{% static 'assets/img/gallery/galley 20.jpg' %}" class="glightbox" data-gallery="images-gallery">
            <img src="{% static 'assets/img/gallery/galley 20.jpg' %}" alt="Gallery Image 20" class="img-fluid" style="border-radius: 10px;">
          </a>
        </div>
      </div><!-- End Gallery Item 20 -->

    </div>

  </div>

</section><!-- /Gallery Section -->





{% endblock %}