{% extends 'starter-page.html' %}
{% load static %}
{% block body %}<br><br><br>

    <section class="vh-100" style="background-color: #f8f9fa;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-6 col-lg-5">
        <div class="card shadow-sm" style="border-radius: 15px;">
          <div class="card-body p-4">
            <h3 class="text-center fw-bold mb-4">Admin Panel Access</h3>

            <!-- Button to navigate to Admin Login -->
            <div class="d-grid">
                <a href="" class="btn btn-warning btn-lg">Go to Admin Login</a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}